{% extends "base.html" %}
{% from "navbar.html" import mynavbar %}
{% from "common.html" import labeled_edit_field, decimal_field, malt_data, decimal_label %}

{% block navbar %}
  {{ mynavbar() }}
{% endblock %}

{% block extra_head %}
  <style>

    .tab-content {
      margin-top: 16px;
    };

  </style>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="row">
  <form id="main-form" class="form-horizontal" method="post">
    {{ form.csrf_token }}
    <div class="container-fluid col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-sm-12">
          {{ labeled_edit_field(form.name) }}
          {{ labeled_edit_field(form.beertype) }}
        </div>
      </div>
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#recipe-datasheet">Datenblatt</a></li>
          <li><a data-toggle="tab" href="#recipe-malt">Malz</a></li>
          <li><a data-toggle="tab" href="#recipe-hop">Hopfen</a></li>
          <li><a data-toggle="tab" href="#recipe-mash">Maischen</a></li>
          <li><a data-toggle="tab" href="#">Würzekochen</a></li>
        </ul>
      </div>

      <div class="tab-content">
        <div id="recipe-datasheet" class="tab-pane fade in active">
          <div class="row">
            <div class="col-sm-4">
              {{ decimal_field(form.original_gravity, suffix="°Pl", step=0.1, class="form-control centered") }}
              {{ decimal_field(form.alcohol, suffix="%", step=0.1, class="form-control centered") }}
              {{ decimal_field(form.bitterness, suffix="IBU", class="form-control centered") }}
              {{ decimal_label("Bierfarbe:", recipe.ebc, suffix="EBC", class="form-control centered") }}
              {{ decimal_field(form.carbonisation, suffix="g/l", step=0.1, class="form-control centered")}}
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <label class="control-label col-sm-3">{{ form.description.label }}</label>
                <div class="col-sm-9">
                  {{ form.description(class="form-control", rows="12") }}
                </div>
              </div>
            </div>
          </div>
        </div>

      <div id="recipe-malt" class="tab-pane fade in inactive">
        <div class="row">
          <div class="panel-group">
            {% include "recipe/malt.html" %}
          </div>
        </div>
      </div>

      <div id="recipe-hop" class="tab-pane fade in inactive">
        <div class="row">
          <div class="panel-group">
            {% include "recipe/hop.html" %}
          </div>
        </div>
      </div>

      <div id="recipe-mash" class="tab-pane fade in inactive">
        {% include "recipe/mash.html" %}
      </div

      <div class="row">
        <hr class="divider"/>
        <div class="form-actions">
            <button type="submit" class="btn">Speichern</button>
            oder <a href="{{ url_for('recipe_list') }}">Abbrechen</a>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row">
  {% if form.errors %}
  <div class="alert alert-danger fade in col-sm-10 col-sm-offset-1" style="margin-top: 20px;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>

  </div>
  {% endif %}
</div>
{% endblock %}