{% extends "base.html" %}
{% from "navbar.html" import mynavbar %}
{% from "common.html" import edit_field, decimal_field, malt_data %}

{% block navbar %}
  {{ mynavbar() }}
{% endblock %}

{% block extra_head %}
  <style>

    .tab-content {
      margin-top: 16px;
    };

  </style>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">

    function add_item(type) {
      var $resource_div = $('#' + type);
      var $last_entry_div = $resource_div.children('div').last();
      var $new_div = $last_entry_div.clone(true, true).appendTo($resource_div);
      var new_num = parseInt($new_div.attr('id').match(/\d+/)) + 1;

      $new_div.attr('id', type + '-' + new_num);
      $new_div.find('input[id*="name_"]')
        .attr('id', type + 's-' + new_num + '-name_')
        .attr('name', type + 's-' + new_num + '-name_')
      $new_div.find("input[id*='qty']")
        .attr('id', type + 's-' + new_num + '-qty')
        .attr('name', type + 's-' + new_num + '-qty')
      $new_div.find('input').val('');
    };

    $(document).ready(function() {

      // add malt
      $('a.add-malt').click(function(event) {
        add_item('malt');
        event.stopPropagation();
      });

      // remove malt
      $('.del-malt').click(function() {
        var $row = $(this).closest('.malt-div');
        if ($('.malt-div').length > 1) {
          $row.remove();
        }
        else {
          $row.find('input').val('');
        }
      });

      // add hop
      $('a.add-hop').click(function(event) {
        add_item('hop');
        event.stopPropagation();
      });

      // remove hop
      $('.del-hop').click(function() {
        var $row = $(this).closest('.hop-div');
        if ($('.hop-div').length > 1) {
          $row.remove();
        }
        else {
          $row.find('input').val('');
        }
      });

      //  add misc
      $('a.add-misc').click(function(event) {
        add_item('misc');
        event.stopPropagation();
      });

        // remove misc
      $('.del-misc').click(function() {
        var $row = $(this).closest('.misc-div');
        if ($('.misc-div').length > 1) {
          $row.remove();
        }
        else {
          $row.find('input').val('');
        }
      });

    $('#main-form').submit(function(event) {
      var divs = [$('.malt-div'), $('.hop-div'), $('.misc-div')];
      $.each(divs, function(_, $div) {
        $div.each(function(index, item) {
          $name = $(item).find('input').eq(0);
          $qty = $(item).find('input').eq(1);
          if ($name.val() == '') {
            $(item).remove();
          };
        });
      });
    });

  });
  </script>
{% endblock %}

{% block content %}
  <form id="main-form" class="form-horizontal" method="post">
    {{ form.csrf_token }}
    <div class="container-fluid col-sm-8 col-sm-offset-2">
      <div class="row">
          {{ edit_field(form.name) }}
          {{ edit_field(form.beertype) }}
      </div>
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#recipe-datasheet">Datenblatt</a></li>
          <li><a data-toggle="tab" href="#recipe-malt">Malz</a></li>
          <li><a data-toggle="tab" href="#recipe-mash">Maischen</a></li>
          <li><a data-toggle="tab" href="#">Würzekochen</a></li>
        </ul>
      </div>

      <div class="tab-content">
        <div id="recipe-datasheet" class="tab-pane fade in active">
          <div class="row">
            <div class="col-sm-5">
              {{ decimal_field(form.original_gravity, suffix="°Pl", step=0.1) }}
              {{ decimal_field(form.alcohol, suffix="%", step=0.1) }}
              {{ decimal_field(form.bitterness, suffix="IBU") }}
              {{ decimal_field(form.color, suffix="EBC") }}
              {{ decimal_field(form.carbonisation, suffix="g/l", step=0.1)}}
            </div>
            <div class="col-sm-7">
              <div class="form-group">
                <label class="control-label col-sm-4">{{ form.description.label }}</label>
                <div class="col-sm-8">
                  {{ form.description(class="form-control", rows="12") }}
                </div>
              </div>
            </div>
          </div>
        </div>

      <div id="recipe-malt" class="tab-pane fade in incactive">
        <div class="row">
          <div class="panel-group">
            {% include "recipe/malt.html" %}
          </div>
        </div>
      </div>

      <div id="recipe-mash" class="tab-pane fade in inactive">
        {% include "recipe/mash.html" %}
      </div

      <div class="row">
        <hr class="divider"/>
        <div class="form-actions">
            <button type="submit" class="btn">Speichern</button>
            oder <a href="{{ url_for('recipe_list') }}">Abbrechen</a>
        </div>
      </div>
    </div>
  </form>
  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}