{% extends "base.html" %}
{% from "navbar.html" import mynavbar %}
{% from "common.html" import edit_field, decimal_field, malt_data %}

{% macro ingredient_list(name, label, items, qty_unit) %}
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapse-{{ name }}">
      <h4 class="panel-title">
        <a href="#">{{ label }}<span class="caret"></span></a>
        <a href="#" class="add-{{ name }}" data-target="{{ name }}"><span class="glyphicon glyphicon-plus pull-right"></span></a>
      </h4>
    </div>
    <div id="collapse-{{ name }}" class="panel-collapse collapse">
      <div class="panel-body {{ name }}-body">
        {% for item in items %}
          <div class="col-sm-12 {{ name }}-div" id="{{ name }}-{{ loop.index0 }}">
            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-6">
                  {{ item.name_(class="form-control") }}
                </div>
                <div class="col-sm-2">
                  <div class="input-group">
                    {{ item.qty(class="form-control") }}
                    <div class="input-group-addon" style="width:30px">{{ qty_unit }}</div>
                  </div>
                </div>
                <a class="btn btn-link del-{{ name }}" id="del-{{ name }}-{{ loop.index0 }}"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

{% block navbar %}
  {{ mynavbar() }}
{% endblock %}

{% block extra_head %}
  <style>

    .tab-content {
      margin-top: 16px;
    };

  </style>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {

      // add malt
      $('a.add-malt').click(function(event) {
        var last_div = ($('.malt-div')).last()
        new_div = last_div.clone(true, true).appendTo('.malt-body')
        new_num = parseInt(new_div.attr('id').match(/\d+/)) + 1

        new_div.attr('id', "malt-" + new_num);
        new_div.find("input[id*='name_']").attr('id', 'malts-' + new_num + '-name_')
        new_div.find("input[id*='name_']").attr('name', 'malts-' + new_num + '-name_')
        new_div.find("input[id*='qty']").attr('id', 'malts-' + new_num + '-qty')
        new_div.find("input[id*='qty']").attr('name', 'malts-' + new_num + '-qty')
        new_div.find('input').val('');

        event.stopPropagation();
      });

      // remove malt
      $('.del-malt').click(function() {
          if ($('.malt-div').length > 1) {
              var thisRow = $(this).closest(".malt-div");
              thisRow.remove();
          }
      }); //End remove row


      // add hop
      $('a.add-hop').click(function(event) {
        var last_div = ($('.hop-div')).last()
        new_div = last_div.clone(true, true).appendTo('.hop-body')
        new_num = parseInt(new_div.attr('id').match(/\d+/)) + 1

        new_div.attr('id', "hop-" + new_num);
        new_div.find("input[id*='name_']").attr('id', 'hops-' + new_num + '-name_')
        new_div.find("input[id*='name_']").attr('name', 'hops-' + new_num + '-name_')
        new_div.find("input[id*='qty']").attr('id', 'hops-' + new_num + '-qty')
        new_div.find("input[id*='qty']").attr('name', 'hops-' + new_num + '-qty')
        new_div.find('input').val('');

        event.stopPropagation();
      });

      // remove hop
      $('.del-hop').click(function() {
          if ($('.hop-div').length > 1) {
              var thisRow = $(this).closest(".hop-div");
              thisRow.remove();
          }
      }); //End remove row

      //  add misc
      $('a.add-misc').click(function(event) {
        var last_div = $('.misc-div').last();
        new_div = last_div.clone(true, true).appendTo('.misc-body');
        new_num = parseInt(new_div.attr('id').match(/\d+/)) + 1;

        new_div.attr('id', 'misc-' + new_num);
        new_div.find("input[id*='name_']").attr('id', 'misc-' + new_num + '-name_')
        new_div.find("input[id*='name_']").attr('name', 'misc-' + new_num + '-name_')
        new_div.find("input[id*='qty']").attr('id', 'misc-' + new_num + '-qty')
        new_div.find("input[id*='qty']").attr('name', 'misc-' + new_num + '-qty')
        new_div.find('input').val('');
        event.stopPropagation();
      })

  // remove misc
  $('.del-misc').click(function() {
    if ($('.misc-div').length > 0) {
      var row = $(this).closest('.misc-div');
      row.remove();
    }
  });


  $('#main-form').submit(function(event) {

    var divs = [$('.malt-div'), $('.hop-div'), $('.misc-div')];
    $.each(divs, function(_, $div) {
      $div.each(function(index, item) {
        $name = $(item).find('input').eq(0);
        $qty = $(item).find('input').eq(1);
        if ($name.val() == '') {
          $(item).remove();
        };
      });
    });

  });
});
  </script>
{% endblock %}

{% block content %}
  <form id="main-form" class="form-horizontal" method="post">
    {{ form.csrf_token }}
    <div class="container-fluid col-sm-8 col-sm-offset-2">
      <div class="row">
          {{ edit_field(form.name) }}
          {{ edit_field(form.beertype) }}
      </div>
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#recipe-datasheet">Datenblatt</a></li>
          <li><a data-toggle="tab" href="#recipe-ingredients">Zutaten</a></li>
          <li><a data-toggle="tab" href="#">Maischen</a></li>
          <li><a data-toggle="tab" href="#">Würzekochen</a></li>
        </ul>
      </div>

      <div class="tab-content">
        <div id="recipe-datasheet" class="tab-pane fade in active">
          <div class="row">
            <div class="col-sm-5">
              {{ decimal_field(form.original_gravity, suffix="°Pl", step=0.1) }}
              {{ decimal_field(form.alcohol, suffix="%", step=0.1) }}
              {{ decimal_field(form.bitterness, suffix="IBU") }}
              {{ decimal_field(form.color, suffix="EBC") }}
              {{ decimal_field(form.carbonisation, suffix="g/l", step=0.1)}}
            </div>
            <div class="col-sm-7">
              <label class="control-label col-sm-4">{{ form.description.label }}</label>
              <div class="col-sm-8">
                {{ form.description(class="form-control", rows="12") }}
              </div>
            </div>
          </div>
        </div>

        <div id="recipe-ingredients" class="tab-pane fade in inactive">
          <div class="row">
           <div class="panel-group">

            {{ ingredient_list('malt', 'Malz', form.malts, 'kg') }}

            {{ ingredient_list('hop', 'Hopfen', form.hops, 'g')}}

            {{ ingredient_list('misc', 'Sonstige Zutaten', form.miscs, 'g')}}

          </div>
        </div>
      </div>
      <div class="row">
        <hr class="divider"/>
        <div class="form-actions">
            <button type="submit" class="btn">Speichern</button>
            oder <a href="{{ url_for('recipe_list') }}">Abbrechen</a>
        </div>
      </div>
    </div>
  </form>
  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}