<script>
  $(document).ready(function() {
    $('.delete-malt').click(function() {
      if ($('tr.malt-entry').length == 1) {
        $('tr.malt-entry input').val('');
      }
      else {
        $(this).closest('tr').remove();
      }
    });

    $('#add-malt').click(function() {
      var $last_row = $('table tr.malt-entry').last()
      var $new_row = $last_row.clone(true, true).insertAfter($('tr.malt-entry').last());
      var new_num = parseInt($last_row.attr('id').match(/\d+/)) + 1;

      $new_row.attr('id', 'malts-' + new_num);
      $new_row.find('input.malt-name')
        .attr('id', 'malts-' + new_num + '-name_')
        .attr('name', 'malts-' + new_num + '-name_')
        .val('');

      $new_row.find('input.malt-qty')
        .attr('id', 'malts-' + new_num + '-qty')
        .attr('name', 'malts-' + new_num + '-qty')
        .val('');

      $new_row.find('input.malt-ebc')
        .attr('id', 'malts-' + new_num + '-ebc')
        .attr('name', 'malts-' + new_num + '-ebc')
        .val('');
    });

    $('.malt-template').click(function() {
      $row = $(this).closest('tr');
      $row.find('.malt-name').val($(this).text());
      $row.find('.malt-ebc').val($(this).data('ebc'));
    });

    $('#main-form').submit(function(event) {
      $('.malt-entry').each(function(index, item) {
        $name = $(item).find('.malt-name').first();
        $qty = $(item).find('.malt-qty').first();
        $ebc = $(item).find('.malt-ebc').first();
        if ($name.val() == '' && $qty.val() == '' && $ebc.val() == '') {
          $(item).remove();
        };
      });
    });
  });
</script>


{% macro edit_field(field, suffix) %}
    {% if suffix != "" %}<div class="input-group">{% endif %}
      {{ field(**kwargs) }}
      {% if suffix != "" %}
        <span class="input-group-addon">{{ suffix }}</span>
      {% endif %}
    {% if suffix != "" %}</div>{% endif %}
    {% for error in field.errors %}
      <span class="help-inline">{{ error }}</span>
    {% endfor %}
{% endmacro %}


<table class="malt-table table">
  <tr>
    <th class="col-sm-4"><label>Malzsorte</label></th>
    <th class="col-sm-2"><label>Menge</label></th>
    <th class="col-sm-2"><label>Farbe</label></th>
    <th class="col-sm-1 centered"><a id="add-malt" class="btn btn-xs" href="#"><span class="glyphicon glyphicon-plus"></span></a></th>
  </tr>

  {% for malt in form.malts %}
  <tr id="{{ malt.id }}" class="malt-entry">
    <!-- malt name -->
    <td class="col-sm-4">
      <div class="input-group">
        {{ edit_field(malt.name_, "", class="form-control malt-name") }}
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu scrollable-menu" role="menu">
            {% for malt in maltlist %}
              <li><a href="#" class="malt-template" data-ebc="{{ malt.ebc }}">{{ malt.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </td>
    <!-- malt quantity -->
    <td class="col-sm-2">
      {{ edit_field(malt.qty, "kg", class="form-control centered malt-qty") }}
    </td>
    <!-- malt ebc -->
    <td class="col-sm-2">
      {{ edit_field(malt.ebc, "EBC", class="form-control centered malt-ebc") }}
    </td>
    <!-- delete button -->
    <td class="col-sm-1 centered">
      <a class="btn btn-link delete-malt"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  {% endfor %}
  <tr class="malt-sumary">
    <td style="text-align: right;"><b>Gesamt:</b></td>
    <td style="text-align: center;">
      <b>{{ recipe.malt_qty or "-" }} kg</b>
    </td>
    <td style="text-align: center;">
      <b>{% if recipe.ebc is none %}-{% else %}{{ "%.0f" | format(recipe.ebc) }}{% endif %} EBC</b>
    </td>
  </tr>
</table>