{% from "common.html" import edit_field %}

<script>
  $(document).ready(function() {

    $('#add-mash').click(function() {
      var $last_row = $('table tr.mash-entry').last();
      var $new_row = $last_row.clone(true, true).insertAfter($('tr.mash-entry').last());
      var new_num = parseInt($last_row.attr('id').match(/\d+/)) + 1;

      $new_row.attr('id', 'mash-' + new_num);

      // name
      s = 'mash-' + new_num + '-name_'
      $new_row.find('input.mash-name')
        .attr('id', s)
        .attr('name', s)
        .val('');

      // temperature
      s = 'mash-' + new_num + '-temperature';
      $new_row.find('input.mash-temperature')
        .attr('id', s)
        .attr('name', s)
        .val('');

      s = 'mash-' + new_num + '-duration';
      $new_row.find('input.mash-duration')
        .attr('id', s)
        .attr('name', s)
        .val('');
    });

    $('.delete-mash').click(function() {
      if ($('tr.mash-entry').length == 1) {
        $('tr.mash-entry input').val('');
      }
      else {
        $(this).closest('tr').remove();
      }
    });

    $('.mash-template').click(function() {
      $row = $(this).closest('tr');
      $row.find('.mash-name').val($(this).text());
      $row.find('.mash-temperature').val($(this).data('temperature'));
      $row.find('.mash-duration').val($(this).data('duration'));
    });

    $('#main-form').submit(function(event) {
      $('.mash-entry').each(function(index, item) {
        $name = $(item).find('.mash-name').first();
        $temperature = $(item).find('.mash-temperature').first();
        $duration = $(item).find('.mash-duration').first();
        if ($name.val() == ''
            && $temperature.val() == ''
            && $duration.val() == '') {
          $(item).remove();
        };
      });
    });
  });
</script>

<table class="mash-table table">
  <tr>
    <th class="col-sm-4"><label>Maischeschritt</label></th>
    <th class="col-sm-2"><label>Temperatur</label></th>
    <th class="col-sm-2"><label>Dauer</label></th>
    <th class="col-sm-1 centered"><a id="add-mash" class="btn btn-xs" href="#"><span class="glyphicon glyphicon-plus"></span></a></th>
  </tr>

  {% for mash in form.mash %}
  <tr id="{{ mash.id }}" class="mash-entry">
    <td class="col-sm-4">
      <div class="input-group">
        {{ edit_field(mash.name_, "", class="form-control mash-name") }}
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu scrollable-menu" role="menu">
            {% for templ in mash_templates %}
              <li><a href="#" class="mash-template" data-duration="{{ templ.duration }}" data-temperature="{{ templ.temperature }}">{{ templ.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </td>
    <!-- temperature -->
    <td class="col-sm-2">
      {{ edit_field(mash.temperature, "°C", class="form-control centered mash-temperature") }}
    </td>
    <!-- duration -->
    <td class="col-sm-2">
      {{ edit_field(mash.duration, "Min.", class="form-control centered mash-duration") }}
    </td>
    <!-- delete button -->
    <td class="col-sm-1 centered">
      <a class="btn btn-link delete-mash"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  {% endfor %}
  <tr class="mash-sumary">
    <td style="text-align: right"><b>Gesamt:</b></td>
    <td></td>
    <td style="text-align: center"><b>{{ "%.0f" | format(recipe.mash | sum('duration')) }} Min.</b></td>
  </tr>
</table>